{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<table>
    <tr>
    <th>id</th>
    <th>name</th>
    <th>belongs to</th>
    <th>borrowed by</th>
    <th>date of return</th>
    <th>photo</th>
    <th>Tag</th>
    <th> You can
{% if object.belongs_to != request.user %}
    {% if object.borrowed_by == request.user %}
        Oddaj
    {% if not object.borrowed_by %}
        Wypożycz
    {% endif %}
    {% endif %}
{% endif %}
    </th>
    </tr>
{% for object in object_list %}
    {% include 'lot/article.html' %}
{% endfor %}
</table>
{% endblock %}
