<tr>
    <td>{{ object.id }}</td>
    <td><a href="{% url 'article-detail' object.pk %}"> {{ object.name }}</a></td>
    <td>
        {% if object.belongs_to %}
                <a href="{% url 'user-profile' object.belongs_to %}"> {{ object.belongs_to }}</a>
        {% endif %}
    </td>
    <td>
        {% if object.borrowed_by %}
            <a href="{% url 'user-profile' object.borrowed_by %}"> {{ object.borrowed_by }}</a>
        {% else %}
            available
        {% endif %}
    </td>
    <td>
        {% if object.date_of_return %}
            {{ object.date_of_return }}
        {% else %}
            available
        {% endif %}
    </td>
    <td>
        {% if object.photo %}
            <img src="{{ object.photo.url }}" height='150' width='150' />
        {% else %}
            No photo
        {% endif %}
    </td>
    <td>
        {% if object.tags %}
            <ul>{% for tag in object.tags.all %}<li>{{ tag }}</li>{% endfor %}</ul>
        {% else %}
            No tag
        {% endif %}
    </td>
    <td>{% if object.belongs_to != request.user and not object.borrowed_by %}
        <a href="{% url 'article-borrow' object.id %}"> wez</a>
        {% else %}
            {% if object.borrowed_by == request.user and object.last_borrowed_by == request.user %}
                waiting for confirmation by owner
            {% else %}
                <a href="{% url 'wish-of-return' object.id %}"> oddaj</a>
            {% endif %}
        {% endif %}</td>
</tr>
