{% extends "base.html" %}
{% block content %}
<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Create" />
</form>
{% endblock %}