{% extends "base.html" %}
{% block content %}
    <li><a href="{% url 'article-update' object.pk %}"> Update article </a></li>
<table>
    <tr>
    <th>name</th>
    <th>photo</th>
    <th>owner</th>
    <th>borrower</th>
    <th>date_of return</th>
    <th>
        {% if object.belongs_to != request.user %}
                {% if object.borrowed_by == request.user %}
                    Oddaj
                {% if not object.borrowed_by %}
                    Wypożycz
                {% endif %}
            {% endif %}
        {% endif %}
    </th>
    </tr>
    <tr>
        <td>{{ object.name }}</td>
        {% if object.photo %}
            <td><img src="{{ object.photo.url }}" height='150' width='150' /></td>
        {% else %}
            <td>No photo</td>
        {% endif %}
        <td>
            <a href="{% url 'user-profile' object.belongs_to %}"> {{ object.belongs_to }}</a>

        </td>
        <td>
            <a href="{% url 'user-profile' object.borrowed_by %}"> {{ object.borrowed_by }}</a>
        </td>
        <td>{{ object.date_of_return }}</td>
        <td>
            {% if object.belongs_to == request.user and not object.borrowed_by %}
            <a href="{% url 'article-delete' object.pk %}"> Delete {{ object.name }}</a>
        {% elif object.belongs_to != request.user and not object.borrowed_by %}
        <a href="{% url 'article-borrow' object.id %}"> wez</a>
        {% else %}

            {% if object.borrowed_by == request.user and object.last_borrowed_by == request.user %}
                waiting for confirmation by owner
            {% else %}
                <a href="{% url 'wish-of-return' object.id %}"> oddaj</a>
            {% endif %}

        {% endif %}</td>
{% if object_belongs_to != request.user %}
    <li><a href="{% url 'messages_compose' %}"> Write message to {{ object.belongs_to }} </a></li>
        {% endif %}
    </tr>
</table>
{% endblock %}
