{% extends "base.html" %}
{% block content %}
<table>
    <tr>
    <th>username</th>
    <th>avatar</th>
    <th>password</th>
    <th>e-mail</th>
    <th>my articles</th>
    <th>borrowed articles</th>
    <th>city</th>
    </tr>
    <tr>
        <td>{{ request.user.username }}</td>
        {% if request.user.avatar %}
            <td><img src="{{ request.user.avatar.url }}" height='150' width='150' /></td>
        {% else %}
            <td>No photo</td>
        {% endif %}
        <td><a href="{% url 'account_change_password' %}"> Change password</a></td>
        <td><a href="{% url 'account_email' %}"> Change E-mail</a></td>
        <td>{% for article in request.user.owned_articles.all %}
            <a href="{% url 'article-detail' article.pk %}"> {{ article.name }}</a>
        {% endfor %}</td>
        <td>{% for article in request.user.borrowed_articles.all %}
            <a href="{% url 'article-detail' article.pk %}"> {{ article.name }}</a>
        {% endfor %}</td>
        <td>{{ request.user.city }}</td>
        <td><a href="{% url 'update' request.user.username %}"> Change city and avatar</a></td>
        <td><a href="{% url 'delete-user' request.user %}"> Delete "{{ request.user.username }}" account?</a></td>
    </tr>
</table>


{% endblock %}
