{% extends "base.html" %}
{% block content %}
<table>
    <tr>
    <th>username</th>
    <th>avatar</th>
    <th>e-mail</th>
    <th>owned articles</th>
    <th>borrowed articles</th>
    <th>city</th>
    </tr>
    <tr>
        <td>{{ object.username }}</td>
        {% if object.avatar %}
            <td><img src="{{ object.avatar.url }}" height='150' width='150' /></td>
        {% else %}
            <td>No photo</td>
        {% endif %}
        <td>{{ object.email_user }}</td>
        <td>{% for article in object.owned_articles.all %}
            <a href="{% url 'article-detail' article.pk %}"> {{ article.name }}</a>
        {% endfor %}</td>
        <td>{% for article in object.borrowed_articles.all %}
            <a href="{% url 'article-detail' article.pk %}"> {{ article.name }}</a>
        {% endfor %}</td>
        <td>{{ object.city }}</td>
    </tr>
        <li><a href="{% url 'messages_compose' %}"> Write message to {{ object.username }} </a></li>
</table>
{% endblock %}
