* {
    font-family: sans-serif;
}
a {
    color: #004422;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table, td {
    border: 1px solid black;
}
.rounded {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #888888;
    color: white
    height:30px;
    line-height:30px;
}
nav {
    background-color: #a1a1c1;
    width: 100%;
}
nav * {
    border: none;
}
nav table {
    width: 100%;
}
nav td {
    width: 50%;
    padding: 0 10px 0 10px
}
nav td#right {
    text-align: right;
}

#search_div {
    float:right;
    display: inline-block;
    padding: 5px 10px;
    background-color: #a1c1a1;
}


#wall {
    float:right;
    display: inline-block;
    padding: 5px 10px;
    background-color: #c1a1a1;
}
