{% load staticfiles %}
{% load inbox %}
{% inbox_count as my_var %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width"{% endblock %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}library_of_things{% endblock title %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

    {% block css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    {% endblock %}
    {% providers_media_js %}
</head>

<body>
<nav class="rounded">
    <table>
        <tr>
            <td>
            <a href="{% url 'main' %}"> HOME </a>
            {% if user.is_authenticated %}
            <a href="{% url 'self-profile' %}"> Your profile </a>
            <a href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
            <a href="{% url 'account_login' %}">Sign In</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
            {% endif %}

            </td>
            <td id="right">
            {% if request.user.username %}
                <a href="{% url 'messages_inbox' %}"> Inbox ({{ my_var }})</a>
                <a href="{% url 'messages_compose' %}"> Write message </a>
                <a href="{% url 'my-articles' %}"> My articles </a>
                <a href="{% url 'borrowed-articles' %}"> Articles I borrowe
                <a href="{% url 'lent-articles' %}"> Lent article
                <a href="{% url 'add_article' %}"> Add article </a>
            {% endif %}

        </td></tr>
    </table>
</nav>
<div class="rounded" id="search_div">
<form method="get" action="/lot/article/search" style="margin: 0">
    <input  id="search_box" type="text" name="search_box" min="3" placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>
</div>

<div class="container">
{% block content %}
{% endblock content %}
</div> <!-- /container -->


    {% block javascript %}
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock javascript %}
</body>
</html>
